name: color_slider
description: "A customizable color picker slider widget for Flutter."
version: 1.0.2
homepage: https://github.com/divyanshub024/color_slider/
repository: https://github.com/divyanshub024/color_slider/

environment:
  sdk: ^3.10.7
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0